LOG_LEVEL="DEBUG"
RISKY_AREAS_PATH ="/data/raw/brisa_zones.geojson"
FOREFIRE_BIN="/usr/local/bin/forefire"
SIM_BASE_DIR="/data/simulations"

DITTO__API_URL="https://localhost:8080"
DITTO__BASE_API_PATH="/api/2"
DITTO__WS__PATH="/ws/2"

AUTH__TOKEN_ENDPOINT="https://https://localhost:8080/auth/realms/dt4mob/protocol/openid-connect/token"
AUTH__CLIENT_ID="ditto"
AUTH__USERNAME =""
AUTH__PASSWORD =""
# AUTH__USERNAME_FILE=
# AUTH__PASSWORD_FILE=


S3__URL_EXTERNAL=http://localhost:8333/
S3__URL_INTERNAL=http://localhost:8333/
S3__BUCKET=test-bucket

S3__ACCESS_KEY=
S3__SECRET_KEY=

COS_URL=https://geo2.dgterritorio.gov.pt/cosc/COSc2025.zip
DEM_URL=http://gis.ciimar.up.pt/gis-data/lidar-dgt/MDT-10m-PT.tif